.breadcrumb-dn{ color: white;
                /**font-size: 20px;**/
	         }

html,
title,
body,
#muda{
	  height: 100%;
}	         

#muda{
	background: url("../img/sa.jpeg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size:cover;
   background-size: cover: 
}

.card-body{

}
.card2{


	padding-left: 350px;
	padding-right: 350px;

	
	

}